[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
setuptools = "*"
flask-migrate = "*"
psycopg2-binary = "*"
bcrypt = "*"
flask-bcrypt = "*"
flask-wtf = "*"
flask-login = "*"
email-validator = "*"
redis = "*"
kombu = "*"
cryptography = "*"
itsdangerous = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.9"
